---
import { postConfig } from "@/config";
import Twikoo from "./twikoo.astro";
import Giscus from "./giscus.astro";

interface Props {
	post: { id: string };
}

const { id } = Astro.props.post;

const path = `/posts/${id}/`;

let commentService = "";
if (postConfig.comment?.enable) {
	if (postConfig.comment?.twikoo) {
		commentService = "twikoo";
	} else if (postConfig.comment?.giscus) {
		commentService = "giscus";
	}
}
---

{
	postConfig.comment?.enable && (
		<div class="card-base p-6 mb-4">
			{commentService === "twikoo" && <Twikoo path={path} />}
			{commentService === "giscus" && (
				<Giscus {...postConfig.comment.giscus} />
			)}
			{commentService === "" && null}
		</div>
	)
}
